.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 0.3;
  flex-grow: 1;
  min-width: 300px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(74, 100, 148);
  transition: all 0.2s ease-in-out;
  padding-bottom: 40px;
  justify-content: space-evenly;
  color: white;
}
.card:hover {
  transform: scale(1.1);
  background-color: white;
  color: red;
  font-size: larger;
}
.card__headline {
  margin-bottom: 10px;
}

.card__description {
  margin-bottom: 30px;
}

.card__title {
  margin-bottom: 10px;
}

.card__headline > h1 > .MuiSvgIcon-root {
  font-size: 40px !important;
}

@media screen and (max-width: 420px) {
  .card {
    padding: 10px;
  }
  .card:hover {
    background-color: white;
    color: red;
  }
}
