.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card__action {
  position: relative;
  bottom: 0px;
  max-width: 150px;
  border-radius: 50px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background-color: #fffefe !important;
  font-weight: bold !important;
}
