html,
body {
  height: 100%;
}
.home {
  width: 100%;
  height: 100%;
}
.home__body {
  display: flex;
  height: 100%;
  width: 100%;
}
.home__image {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 90%;
  z-index: -1;
  object-fit: cover;
  overflow: auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.home__container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  position: relative;
  top: 5%;
}

.home__landing {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.home__branding {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  padding: 20px;
  margin-top: 10px;
  backdrop-filter: blur(5px);
  background-image: radial-gradient(
    ellipse,
    rgba(255, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  border-radius: 10px;
  max-height: 700px;
  max-width: 900px;
}
.home__branding > img {
  object-fit: contain;
  padding-bottom: 20px;
}
.home__branding > h1 {
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: 300%;
  text-align: center;
}

.home__branding > h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  font-weight: 100;
}
.home__facebook {
  flex: 0.3;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin-top: 0px;
  min-height: 50vh;
  height: 100%;
  width: 100%;
}

.home__testimonials {
  margin-top: 5%;
  background-image: linear-gradient(to bottom, white, orange);
}

.home__testimonialsTitle {
  background-image: radial-gradient(
    circle,
    rgb(255, 222, 39),
    rgba(1, 1, 1, 0)
  );
}

.home__testimonialsTitle > h1 {
  color: white;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 6vw;
  font-weight: 100;
}
@media screen and (max-width: 420px) {
  .home__image {
    display: none;
  }

  .home__body {
    background-image: radial-gradient(circle, purple, #ff8922);
  }
  .home__branding {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  .home__branding > h1 {
    font-size: 10vw;
    margin-bottom: 5%;
  }
  .home__branding > h3 {
    font-size: 4vw;
  }
  .home__landing {
    display: flex;
    justify-content: center;
  }
  .home__facebook {
    display: none;
  }
  .home__testimonials {
    background-image: none;
  }
}
