.testemonial {
  background-color: rgb(255, 211, 211);
  border-radius: 10px;
  /* border: 2px solid red; */
  min-height: 100px;
  min-width: 200px;
  margin: 20px;
  max-height: 400px;
  max-width: 700px;
}

.testemonial__container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testemonial__title {
  display: flex;
  width: 100%;
}

.testemonial__title > h1 {
  margin: auto;
  margin-left: 0;
  padding-bottom: 10px;
}

.testemonial__title > h3 {
  margin: auto;
}

.testemonial__body {
  display: flex;
}
.testemonial__body > p {
  padding: 20px;
  padding-left: 0px;
}

.testemonial__treat {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 20px;
}

.testemonial__image {
  padding: 10px;
  margin: 10px;
  background-image: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.2),
    rgba(255, 255, 255, 0.1)
  );
}
