.testimonials {
  margin: 1vw;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media screen and (max-width: 420px) {
  .testimonials {
    margin: 0;
  }
}
