.testemonial {
  min-height: 100px;
  min-width: 200px;
  margin: 20px;
  max-height: 400px;
  max-width: 700px;
}

.testemonial__container {
  height: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f8f7;
  border-radius: 10px;
  padding: 20px;
}

.testemonial__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.testemonial__title > h1 {
  margin: auto;
  margin-left: 0;
  padding-bottom: 10px;
}

.testemonial__title > h3 {
  margin: auto;
  margin-right: 0;
}

.testemonial__body {
  display: flex;
  overflow: hidden;
}
.testemonial__body > p {
  padding: 20px;
  padding-left: 0px;
  word-wrap: break-word;
  max-height: 200px;
}

.testemonial__treat {
  padding: 10px;
  padding-left: 0;
  margin-bottom: 50px;
  position: relative;
  bottom: 0;
}

.testemonial__image {
  object-fit: contain;
  padding: 10px;
  margin: 10px;
  background-image: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.2),
    rgba(255, 255, 255, 0.1)
  );
}

.testemonial__avatar {
  margin: auto;
  border:  #f9f8f7 solid 10px;
  width: 100px !important;
  height: 100px !important;
  margin-bottom: -80px;
}
